
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto.woff2') format('woff2'),
    url('fonts/Roboto.woff') format('woff'),
    url('fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'rouble';

    src: url("fonts/RUBSN.otf");
    font-weight: normal;
    font-style: normal;
}
/*url('fonts/RUBSN.otf') format('truetype');*/



html,
body {
    font-family: 'Roboto';
    width: 100%;
    margin: 0;
    padding: 0;
}
.rub {
    font-family: 'rouble';
}
.container {
<<<<<<< HEAD
=======
    /*overflow: hidden;*/
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    position: relative;
    max-width: 750px;
    /*min-width: 640px;*/
    /*max-height: 1800px;*/
<<<<<<< HEAD
    height:100vh;
=======
    height:100%;
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    margin-left: auto;
    margin-right: auto;
}
.page0{
<<<<<<< HEAD

    text-align: center;
    /*background: url(./img/back.png) 59% -35% no-repeat;*/
    /*background-size: cover;*/
    background: white;
    width: 100%;
    height: 100%;

}
.page0-main-block {
    position: absolute;
    background: url("./img/back.png") 64% -53% no-repeat;
    background-size: cover;
=======
    /*!*display: none;*!*/
    overflow: hidden;

    text-align: center;
    background: url("./img/back.png") 18% 20% no-repeat;
    background-size: cover;
    width: 100%;
    height: 98vh;

}
.page0-main-block {
    /*background: url("./img/back.png") 0% 32%;*/
    /*background-size: cover;*/
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    width: 100%;
    height: 100%;
    text-align: center;
    color:#333333;
}
.page0-blocked {
    font-size:20px;
    color: #999999;
    margin-top: 2.8%;
}
.blocked-text1 {
    margin-top: 3%;
}


.page0-main-block-Title{
    font-size: 66px;
    font-weight:bold;
}
.blocked-text1-str0 {
    padding: 0 20px;
}
.page0-main-block-content {
    font-size: 34px;
    margin-top: 4%;
}
.page0-main-block-btn {
    margin-top: 5.8%;
    background: #00985f;
    color: white;
    font-size: 31px;
    text-align: center;
<<<<<<< HEAD
    width: 75%;
=======
    max-width: 409px;
    width: 100%;
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    margin-left: auto;
    margin-right:auto;
    /*margin-bottom: 73.7%;*/
}
.page0-main-block-btn-text {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.page1 {
<<<<<<< HEAD

=======
    /*display: none;*/
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    background: white;
    position: absolute;
    text-align: center;
    padding-top: 7%;
    width: 100%;
<<<<<<< HEAD
    height: 100%;
    top:0;
    opacity: 1;

    transition: transform ease-out .5s;

}
.opacity {

    transform: translateX(100%);

}
.z-index {
    opacity: 0;
    z-index: -1;
    transform: scale(0);
=======
    height: 98vh;
    top:0;
    opacity: 1;

    transition: opacity ease-in-out 0.3s, transform ease-out .5s;

}
.opacity {
    display: none;
    opacity: 0;
    transform: translateX(100%);


>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
}
.page1-title {
    font-size: 34px;
    color:#00985f;
}

.page1-title-text {
    padding:0 20px;
}

.page1-block-btn {
<<<<<<< HEAD
    margin-top: 5.8%;
=======
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    background: #00985f;
    color: white;
    font-size: 31px;
    text-align: center;
<<<<<<< HEAD
    width: 75%;
=======
    max-width: 409px;
    width: 100%;
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
    margin-left: auto;
    margin-right:auto;
}

.page1-block-btn-text {
    padding-top: 4.5%;
    padding-bottom: 4.5%;
}

.icons {
    margin-top: 10%;
    font-size: 34px;
    color: #333333;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}



.left-phone{
<<<<<<< HEAD
    background: url("./img/phone.svg") no-repeat;
    width: 6vw;
    height: 70px;
    max-height: 109px;
    background-size: contain;
    position: absolute;
}
.left-cleaning{
    background: url("./img/cleaning.svg")no-repeat;
    width: 10vw;
    height: 70px;
    background-size: contain;
    position: absolute;
    margin-left: 8% !important;
}

.left-promo {
    background: url("./img/promocode.svg")no-repeat;
    width: 10vw;
    height: 70px;
    max-height: 109px;
    background-size: contain;
    position: absolute;
}

.left-cash {
    background: url("./img/cashback.png")no-repeat;;
    width: 10vw;
    height: 70px;
    background-size: contain;
    position: absolute;
    /*margin-left: 8% !important;*/
=======
    background: url("./img/phone.png");
    width: 40px;
    height: 69px;
    margin-top: 1.5%;
}
.left-cleaning{
    background: url("./img/cleaning.png");
    width: 60px;
    height: 69px;
}

.left-promo {
    background: url("./img/promocode.png");
    width: 58px;
    height: 69px;
}

.left-cash {
    background: url("./img/cashback.png");
    width: 75px;
    height: 70px;
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
}

div[class^="left"] {

    float: left;
<<<<<<< HEAD
    margin-left: 10%;
=======
    margin-left: 13%;
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c

}
div[class^="right"] {
    text-align:left;
    margin-left: 32%;
    margin-bottom: 13%;
}

.screanshot {
    font-size: 24px;
    color: #00985f;
    margin-top: 6%;

}
.pay {
    font-size: 24px;
    color: #999999;
    margin-top: 4.5%;
    margin-bottom: 5.5%;
}

a {
   text-decoration: none;
    color:white;
}

<<<<<<< HEAD
@media all and  (max-width:1024px) {
.page0-main-block-Title{
  font-size: 45px;
}
.page0-main-block-content{
    font-size: 27px;
}
.page0-blocked{
  font-size: 16px;
}




}

@media all and  (max-width:700px) {
.page0-main-block-Title{
      font-size: 30px;
}
  .page0-main-block-content{
  font-size: 20px;
}
  .page0-blocked{
    font-size: 11px;
}

  .page1-title {
    font-size: 23px;
}
  .icons {
    font-size: 20px;
  }
  .pay {
    font-size: 17px;
  }
  .screanshot {
    font-size: 19px;
  }
}

@media all and  (max-width:500px) {
    .page0-main-block-Title {
        font-size: 30px;
    }

    .page0-main-block-content {
        font-size: 20px;
    }

    .page0-blocked {
        font-size: 11px;
    }

    .page1-title {
        font-size: 20px;
    }

    .icons {
        font-size: 20px;
        margin: 10%;
    }

    .pay {
        font-size: 15px;
    }

    .screanshot {
        font-size: 15px;
    }

    .page0-main-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
}
@media all and  (max-width:320px) {
    .page0-main-block-Title {
        font-size: 30px;
    }

    .page0-main-block-content {
        font-size: 20px;
    }

    .page0-blocked {
        font-size: 11px;
    }

    .page1-title {
        font-size: 15px;
    }

    .icons {
        margin: 0;
        font-size: 20px;
    }

    .pay {
        font-size: 10px;
    }

    .screanshot {
        font-size: 10px;
    }

    .page1-block-btn {

        font-size: 21px;

    }

    .page1-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .page0-main-block-btn-text {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

}
@media all and  (max-width:450px) {
    .page0-main-block-Title{
        font-size: 9.8px;
    }

    .page0-main-block-Title {
        font-size: 22px;
    }

    .page0-main-block-content {
        font-size: 13px;
    }
    .page0-main-block-btn {
    font-size: 21px;
    }
}
=======
/*@media all and  (max-width:1024px) {*/
/*.page0-main-block-Title{*/
  /*font-size: 45px;*/
/*}*/
/*.page0-main-block-content{*/
    /*font-size: 27px;*/
/*}*/
/*.page0-blocked{*/
  /*font-size: 16px;*/
/*}*/




/*}*/

/*@media all and  (max-width:700px) {*/
/*.page0-main-block-Title{*/
      /*font-size: 30px;*/
/*}*/
  /*.page0-main-block-content{*/
  /*font-size: 20px;*/
/*}*/
  /*.page0-blocked{*/
    /*font-size: 11px;*/
/*}*/

  /*.page1-title {*/
    /*font-size: 23px;*/
/*}*/
  /*.icons {*/
    /*font-size: 20px;*/
  /*}*/
  /*.pay {*/
    /*font-size: 17px;*/
  /*}*/
  /*.screanshot {*/
    /*font-size: 19px;*/
  /*}*/
/*}*/

/*@media all and  (max-width:500px) {*/
    /*.page0-main-block-Title {*/
        /*font-size: 30px;*/
    /*}*/

    /*.page0-main-block-content {*/
        /*font-size: 20px;*/
    /*}*/

    /*.page0-blocked {*/
        /*font-size: 11px;*/
    /*}*/

    /*.page1-title {*/
        /*font-size: 20px;*/
    /*}*/

    /*.icons {*/
        /*font-size: 20px;*/
        /*margin: 0;*/
    /*}*/

    /*.pay {*/
        /*font-size: 15px;*/
    /*}*/

    /*.screanshot {*/
        /*font-size: 15px;*/
    /*}*/

    /*.page0-main-block-btn-text {*/
        /*padding-top: 2.5%;*/
        /*padding-bottom: 2.5%;*/
    /*}*/
/*}*/
/*@media all and  (max-width:320px) {*/
    /*.page0-main-block-Title {*/
        /*font-size: 30px;*/
    /*}*/

    /*.page0-main-block-content {*/
        /*font-size: 20px;*/
    /*}*/

    /*.page0-blocked {*/
        /*font-size: 11px;*/
    /*}*/

    /*.page1-title {*/
        /*font-size: 15px;*/
    /*}*/

    /*.icons {*/
        /*margin: 0;*/
        /*font-size: 20px;*/
    /*}*/

    /*.pay {*/
        /*font-size: 10px;*/
    /*}*/

    /*.screanshot {*/
        /*font-size: 10px;*/
    /*}*/

    /*.page1-block-btn {*/
        /*background: #00985f;*/
        /*color: white;*/
        /*font-size: 21px;*/
        /*text-align: center;*/
        /*max-width: 409px;*/
        /*width: 100%;*/
        /*margin-left: auto;*/
        /*margin-right: auto;*/
    /*}*/

    /*.page1-block-btn-text {*/
        /*padding-top: 2.5%;*/
        /*padding-bottom: 2.5%;*/
    /*}*/

    /*.page0-main-block-btn-text {*/
        /*padding-top: 2.5%;*/
        /*padding-bottom: 2.5%;*/
    /*}*/
/*}*/
>>>>>>> 7b78ac9a9a6b6c283df98acb8a7e3a0bd2096e4c
